---
import Layout from "../layouts/Layout.astro";
import Service from "../components/Service.astro";
import Hero from "../components/Hero.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Copy from "../components/Copy.astro";
---

<Layout title="Digital Wave | Solutions in Programming and Web Development">
	<main>
		<section class="h-screen">
			<Hero />
			<Home />
		</section>

		<Service />
		<About />
		<Contact />
		<Copy />
	</main>
</Layout>

<style></style>
