<section id="about" class="bg-orange-600 flex flex-col text-white gap-2 p-10">
  <h2 class="font-serif text-2xl text-center">
    About Us
  </h2>
  <hr>
  <div>
    <p class="text-lg text-center">
      At DigitalWave, we are a team passionate about technology and web development. We are dedicated to offering innovative and personalized solutions for our clients, helping them achieve their goals and stand out in the digital environment.
    </p>
  </div>
</section>