---
const URL = 'https://digitalwavecr.netlify.app'
---

<section class="h-screen flex justify-around items-center bg-orange-100" id="contact">
  <span class="hidden md:block">
    <h3 class="text-center text-2xl font-serif">
      Contact Information
    </h3>
    <br>
    <p>
      Email: digitalwavecr.contact@gmail.com
    </p>
    <p>
      Tel: (506) 8771-1688
    </p>
  </span>

  <div class="flex flex-col items-center gap-4">    
    <h2 class="text-center text-3xl font-serif underline">
      CONTACT
    </h2>

    <form class="w-80 flex flex-col gap-2 p-8 rounded-3xl border-2 border-black shadow-xl shadow-black bg-orange-300" action="https://formsubmit.co/digitalwavecr.contact@gmail.com" method="POST">

      <label class="font-bold" for="name">NAME</label>
      <input class="p-2 border-2 border-black rounded-md" type="text" name="name" placeholder="Name" required>
      
      <label class="font-bold" for="email">EMAIL</label>
      <input class="p-2 border-2 border-black rounded-md" type="email" name="email" placeholder="example@gmail.com" required>

      <label class="font-bold" for="message">MESSAGE</label>
      <textarea class="p-2 border-2 border-black rounded-md" name="menssage" rows="8" placeholder="Message"></textarea>

      <button class="hover:bg-orange-50 hover:text-black border-2 border-black rounded-md bg-orange-700 text-white px-2 transition-colors ease-in-out" type="submit">Send</button>
      
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_next" value=`${URL}/thanks`>
    </form>
  </div>
</section>