
<header class="flex flex-col justify-between items-center">
  <span class="w-full bg-orange-600 text-center text-white p-5">
    <h1 class="text-3xl font-serif">DigitalWave</h1>
    <p>Web development and solutions in programming</p>
  </span>
  <nav class="w-full text-center shadow-md">
    <ul class="flex gap-4 text-sm items-center justify-center">
      <li class="hover:bg-orange-600 p-1"><a class="p-2" href="#">HOME</a></li>
      <li class="hover:bg-orange-600 p-1"><a class="p-2" href="#service">SERVICE</a></li>
      <li class="hover:bg-orange-600 p-1"><a class="p-2" href="#about">ABOUT US</a></li>
      <li class="hover:bg-orange-600 p-1"><a class="p-2" href="#contact">CONTACT</a></li>
    </ul>
  </nav>
</header>