---
import Website from "../../public/Website.astro"
---

<article class="w-full h-full flex flex-col md:flex-row justify-around items-center bg-orange-50">
  <figure>
    <Website />
  </figure>
  <span class="lg:block hidden">
    <p class="font-serif text-3xl text-center p-4 border-black border-2 rounded-xl bg-[#e7dbd3d3] shadow-lg">
      We transform your ideas into digital reality
    </p>
  </span>
  
</article>