<section id="service" class="md:h-screen">
  <h2 class="font-serif text-2xl text-center text-white bg-orange-600 shadow-sm shadow-orange-400">
    Services
  </h2>
  <article class="flex flex-col md:gap-6 bg-orange-200 text-white h-full justify-center">
    <div class="flex flex-col md:flex-row">
      <div class="shadow-lg p-4 m-4 rounded-3xl text-center bg-orange-500">
        <h3 class="text-2xl md:text-xl">
          Web Develope
        </h3>
        <hr>
        <p class="text-sm">
          At DigitalWave, we create modern, fast and responsive websites. We adapt to your needs, whether for an informative page, a blog or an online store, ensuring an optimal user experience.
        </p>
      </div>
  
      <div class="shadow-lg p-4 m-4 rounded-3xl text-center bg-orange-600">
        <h3 class="text-2xl md:text-xl">
          Technology Consulting
        </h3>
        <hr>
        <p class="md:text-sm">
          We offer expert guidance to help you make informed technology decisions. We evaluate your needs and recommend the best solutions to ensure the success of your project.
        </p>
      </div>
      
      <div class="shadow-lg p-4 m-4 rounded-3xl text-center bg-orange-500">
        <h3 class="text-2xl md:text-xl">
          SEO and Digital Marketing
        </h3>
        <hr>
        <p class="md:text-sm">
          We optimize your online presence to improve your visibility and attract more customers. We implement SEO strategies, content marketing, and advertising campaigns to maximize your reach and return on investment.
        </p>
      </div>
    </div>
    
    <div class="flex flex-col md:flex-row md:justify-center">
      <div class="shadow-lg p-4 m-4 rounded-3xl text-center bg-orange-600">
        <h3 class="text-2xl md:text-xl">
          Mobile App's
        </h3>
        <hr>
        <p class="md:text-sm">
          We develop intuitive and secure mobile applications for Android and iOS. Our focus is on creating apps that not only meet your functional needs, but also offer an exceptional user experience.
        </p>
      </div>

      <div class="shadow-lg p-4 m-4 rounded-3xl text-center bg-orange-500 md:bg-orange-600">
        <h3 class="text-2xl md:text-xl">
          Maintenance and Technical Support
        </h3>
        <hr>
        <p class="md:text-sm">
          At DigitalWave, we offer maintenance services and ongoing technical support to ensure your website or mobile app runs smoothly. We take care of updates, troubleshooting and improvements, allowing you to focus on your business while we take care of the technical side.
        </p>
      </div>
    </div>

    
  </article>
</section>